body {
    background-color: #f3f4f6; /* Jasne tło */
    font-family: 'Arial', sans-serif; /* Czcionka */
}

.logo_text {
    font-size: 2em;
    color: #333; /* Ciemniejszy kolor */
    text-align: center;
    margin-top: 20px;
}

.classic_input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    font-size: 1em;
}

.go {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.go:hover {
    background-color: #0056b3;
}